body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#todo-table {
    border-collapse: collapse;
    width: 100%;
}

#todo-table th, #todo-table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#todo-table th {
    background-color: #f0f0f0;
}

#todo-form{
    /* margin-bottom: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adds spacing between inputs and buttons */
    flex-wrap: wrap; /* Ensures form items wrap if the screen width is small */
    margin-bottom: 25px;
}

#todo-form input, 
#todo-form button {
    padding: 10px;
    font-size: 16px;
}

#add-btn, 
#update-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.action-btns {
    text-align: center;
}

.action-btns button {
    margin-left: 10px;
}

#add-btn{
    margin-left: 20px;
    
}

#update-btn {
    margin-left: 20px;
}

